<div class="box">
  <h2>Đăng nhập tài khoản</h2>
  <form
      #frmLogin='ngForm' 
      (ngSubmit)='LoginUserForm(frmLogin.value)'
  >
      <div class="inputBox">
          <input type="text" value=""
                id="UserName"
                name="UserName" 
                #UserName='ngModel' 
                ngModel 
                required=""
          >
          <label>Tên đăng nhập</label>
      </div>
      <div class="inputBox">
          <input type="password" value="" 
                id="Password" 
                name="Password" 
                #Password='ngModel' 
                ngModel 
                required=""
          >
          <label>Mật khẩu</label>
      </div>
      <div class="form-group">
        <!-- Groups -->
        <select name="GroupID" 
          #GroupID="ngModel"
          ngModel
          class='form-control'
        >
            <option *ngFor='let group of groups' [value]="group.ID">{{group.Name}}</option>
        </select>
      </div>
      <input type="submit" name="" value="Đăng nhập">
      <a routerLink='/form/signup'>Đăng Kí</a>
  </form>
</div>




